:root {
    --header-main: #080B12;
    --main-color: #141922;
    --aside-color: #000000;
    --footer-color: #282828;
    --color-font-secondary: #797C80;
    --color-font-primary: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.play-nav-container {
    flex-shrink: 0;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.main-content-container {
    flex-grow: 1;
    overflow: auto;
}

/* aside */
.navbar {
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    padding: 0.5rem 0 0.5rem 0;
    color: var(--color-font-secondary);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--aside-color);
}

.padding-01 {
    padding: 0 1rem;
}

.navbar .logo-small {
    display: none;
}

.navbar h4 {
    color: var(--color-font-primary);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-font-secondary);
}

.navbar .nav-librabry {
    flex-grow: 1;
    overflow: auto;
}

.navbar li {
    padding: 0.3rem 0;
}

.navbar ul {
    list-style: none;
}

.nav-librabry ul {
    padding: 0.3rem 0;
}

.border-green {
    border-left: 2px solid #adff2f;
    height: 35px;
    width: 1px;
    margin-bottom: -36px;
    margin-left: -15px;
}

#color-white {
    color: var(--color-font-primary);
}

.inline {
    display: inline;
}

.navbar .nav-down hr {
    margin: 0.3rem auto;
}

/* aside icon */

.fa-plus {
    background-color: var(--color-font-secondary);
    padding: 0.6rem;
    color: var(--aside-color);
    font-size: 1.5rem;
}

.fa-plus:hover {
    color: var(--color-font-primary);
}

ul li i {
    font-size: 1.5rem;
}

ul li:hover {
    color: var(--color-font-primary);
}

ul li a:hover {
    color: var(--color-font-primary);
}

.fa-circle-chevron-down {
    font-size: 1rem;
}



/* header */
header {
    background-color: var(--header-main);
}

.header-btn {
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.btn {
    border: 1px solid var(--color-font-primary);
    background-color: var(--header-main);
    padding: 0.5rem 2rem;
    color: var(--color-font-primary);
    border-radius: 50px;
}

.header-btn:hover {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}



/* section del main */

.main-content-container {
    background-color: var(--main-color);
    color: var(--color-font-primary);
}

.horizontal-menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: var(--color-font-secondary);
    padding: 1rem 4rem;
}

section {
    max-width: 100%;
    margin: 1.5rem 0;
    padding: 0 1rem;
}

.col-container #special-h2 {
    padding-bottom: 0.6rem;
}

.padding {
    padding: 0.2rem 0 1rem;
    ;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
}

.col-1-6 {
    flex-basis: calc((100% /6) - 1rem);
}

.flex-grow {
    flex-grow: 0;
}

.circle img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

img {
    max-width: 100%;
}

.horizontal-menu-bar hr {
    border-color: #adff2f;
    width: 45%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.img:hover {
    content: "";
    filter: grayscale(100%) sepia(30%);

}

.relative {
    position: relative;
}

.col .relative i {
    display: none;
    position: absolute;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
}

.col .relative .fa-circle-play {
    font-size: 40px;
}

.img:hover i {
    display: block;
}

.row .text {
    text-align: center;
}

.small-font-size {
    font-size: 0.8rem;
    color: var(--color-font-secondary);
}

/* footer */

.play-nav-container {
    background-color: var(--footer-color);
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 1.5rem;
    color: var(--color-font-primary);
}

.play-nav-container .play-nav-center {
    flex-grow: 1;
    overflow: hidden;
}

.play-nav-left-card {
    display: flex;
    width: 80%;
    gap: 0.5rem;
    margin-right: 0.5rem;
    align-items: center;
}

.play-nav-left .left-img {
    width: 60px;
}

.play-nav-left {
    display: flex;
    align-items: center;
}

.font-10px {
    font-size: 10px;
}

.font-10px:hover {
    color: var(--color-font-primary);
    text-decoration: underline;
}

.left-icon {
    display: flex;
    gap: 1rem;
}

.secondary-color {
    color: var(--color-font-secondary);
}

.secondary-color i:hover {
    color: var(--color-font-primary);
}

.play-nav-center {
    text-align: center;
    flex-basis: 60%;
}

.play-nav-center .play-nav-center-icon {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 2.3rem;
    align-items: center;
}

.play-nav-center .fa-circle-play {
    font-size: 24px;
}

.play-nav-center .fa-circle-play:hover {
    transform: scale(1.2);
}

.play-nav-center .play-nav-center-music {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.3rem;
}

.play-nav-left,
.play-nav-right {
    flex-basis: calc((100% - 60%) / 2);
}

.play-nav-right .icon-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 1rem;
}

.audio {
    background-color: #5a5a5a;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.play-nav-center .percentuale {
    width: 100%;
}

.audio-color {
    display: flex;
    background-color: #c1c1c1;
    width: 40%;
    height: 5px;
    border-radius: 30px;
    justify-content: right;
}

.circle-audio {
    display: flex;
    align-items: center;
    display: none;
}
.play-nav-center-music:hover .audio-color{
    background-color: #adff2f;
}

.play-nav-center-music:hover .circle-audio{
    display: flex;
}

.play-nav-right:hover .circle-audio{
    display: flex;
}

.play-nav-right:hover .audio-color{
    background-color: #adff2f;
}



/* media query */

@media screen and (max-width: 1100px) {
    .col {
        flex-grow: 0;
    }

    .col-1-6 {
        flex-basis: calc((100% /4) - 1rem);
    }

}

@media screen and (max-width: 992px) {
    .play-nav-right .audio {
        width: 70px;
    }
}

@media screen and (max-width: 768px) {
    .col-1-6 {
        flex-basis: calc((100% /2) - 1rem);
    }

    .play-nav-left .left-icon {
        flex-direction: column;
    }

    .play-nav-center .play-nav-center-icon {
        gap: 1.8rem;
        font-size: 16px;
    }

    .fa-circle-play {
        font-size: 22px;
    }

    .play-nav-right .icon-right {
        font-size: 16px;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        width: auto;
        text-align: center;
    }

    .navbar span {
        display: none;
    }

    .navbar .nav-librabry h4 {
        display: none;
    }

    .navbar .logo-big {
        display: none;
    }

    .navbar .logo-small {
        display: block;
    }

    .play-nav-center .play-nav-center-icon {
        gap: 1.2rem;
        font-size: 14px;
    }

    .play-nav-left .left-icon,
    .play-nav-right .icon-right {
        font-size: 14px;
    }

    .play-nav-right .audio {
        width: 50px;
    }
}

@media screen and (max-width: 576px){

    .play-nav-left .left-img {
        width: 45px;
    }

    .play-nav-left h6,
    .play-nav-center span{
        font-size: 12px;
    }
    .play-nav-center .play-nav-center-icon {
        gap: 1.5rem;
        font-size: 12px;
    }

    .play-nav-left .left-icon, .play-nav-right .icon-right {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .col-1-6 {
        flex-basis: calc((100% /1) - 1rem);
    }

    .play-nav-center .play-nav-center-icon {
        gap: 1rem;
    }
}